<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/head :: head"></head>
<body>
<nav th:replace="blocks/header :: header"></nav>
<div class="row row-cols-1 row-cols-md-4 g-4 mt-5 px-3">
    <div th:each="channel: ${channels}" class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 th:text="${channel.getName()}" class="card-title"></h5>
                <h6 th:text="${channel.getIdInternal()}"  class="card-subtitle mb-2 text-muted"></h6>
                <p th:text="${channel.getDescription()}" class="card-text"></p>
                <a href="#" class="card-link">Подробно</a>
                <a href="#" class="card-link">Не анализировать</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>