<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/head :: head2"></head>
<body>
<!--  Start Header  -->
<header th:replace="blocks/header"></header>
<!--  End Header  -->
<br>
<main>
    <div class="container">
        <form class="form-floating" th:method="POST" th:action="@{/monitoring/upload/}" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                <input name="file" type="file" class="form-control" id="inputGroupFile02">
                <button type="submit" class="btn btn-outline-primary">Загрузить</button>
            </div>
        </form>


        <button type="button" class="btn btn-outline-success me-md-2 mx-auto mb-3" th:onclick="add()">
            <i class="bi bi-plus">Добавить новый чат</i>
        </button>
        <button type="button" class="btn btn-outline-danger me-md-2 mx-auto mb-3" th:onclick="del()">
            <i class="bi bi-file-minus">Удалить последений чат</i>
        </button>


        <form class="form-floating" th:method="POST" th:action="@{/monitoring/}">
            <div class="input-content-chat">
                <div th:if="${not #lists.isEmpty(chats)}" th:each="chat, iter : ${chats}" class="input-group mb-3">
                    <span class="input-group-text" th:id="basic-addon + ${iter.index}">@</span>
                    <input th:name="chat" th:value="${chat.getIdChannel().getName()}" type="text" class="form-control" placeholder="chat name" aria-label="chat name" aria-describedby="basic-addon1">
                </div>
                <div th:if="${#lists.isEmpty(chats)}" class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input th:name="chat" type="text" class="form-control" placeholder="chat name" aria-label="chat name" aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="submit">Сохранить</button>
            </div>
        </form>
    </div>
</main>

<script th:replace="blocks/scripts"></script>
</body>
</html>